

#---------------DB PROPERTIES---------------------------
db.url=URL_TO_DB
db.username=USERNAME
db.password=PASSWORD

#---------------JWT MUST GENERATE A SECURE 256bits key---------------------------
jwt.secret=SECRETKEY

#---------------MAIL CONFIG EXAMPLE---------------------------
spring.mail.host=localhost
spring.mail.port=1025
spring.mail.username=
spring.mail.password=
