

#---------------DB PROPERTIES---------------------------
db.username=USERNAME
db.password=PASSWORD
db.url=URL_TO_DB 

#---------------JWT MUST GENERATE A SECURE 256bits key---------------------------
jwt.secret=SECRETKEY

#---------------MAIL CONFIG EXAMPLE---------------------------
spring.mail.host=hostServer
spring.mail.port=portnumber
spring.mail.username=your-email@gmail.com
spring.mail.password=your-app-password
